# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


out.txt
*.aux
/Latex/*.log
/Latex/*.pdf
*.gz
*.toc

.vs
Debug
Release
Differentiator/Debug
Differentiator/Release
Differentiator/x64
Differentiator/x86
x86
x64